+++
title = "Envelope Zero"
linkTitle = "Envelope Zero"
exclude_search = true
+++

{{< blocks/cover title="Welcome to Envelope Zero!" image_anchor="center" height="max" color="dark" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "Concepts" >}}">
		Concepts<i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
  <!-- TODO: relref to getting started -->
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "Getting Started" >}}">
		Get started<i class="fa-regular fa-download ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{% blocks/lead color="primary" %}}
Envelope Zero is a zero-based envelope budgeting tool.

All parts of the projects are free and Open Source.

If you're new to this budgeting method, we recommend to check out the <a href="{{< relref "/docs/concepts" >}}">Concepts</a>. We'll explain how zero-based envelope budgeting works and you'll learn to use Envelope Zero along the way.
{{% /blocks/lead %}}

{{< blocks/section color="secondary">}}
{{% blocks/feature icon="far fa-question" title="Questions" %}}
Ask <a href="https://github.com/orgs/envelope-zero/discussions">on GitHub</a> or send an email to team@envelope-zero.org
{{% /blocks/feature %}}

{{% blocks/feature icon="far fa-lightbulb" title="Ideas" %}}
Let us know <a href="https://github.com/orgs/envelope-zero/discussions/new?category=ideas">on GitHub</a>!
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-github" title="Contributions" url="https://github.com/envelope-zero/docs/blob/main/CONTRIBUTING.md" %}}
We do a [Pull Request](https://github.com/envelope-zero/docs/pulls) contributions workflow on **GitHub**. New users are always welcome!
{{% /blocks/feature %}}
{{< /blocks/section >}}
